@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  font-family: "SF Pro Display", sans-serif !important;
}
/* ================================== */
.box-item__image img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 100%;
}
.box-content {
  padding-top: 8px;
  color: #000000;
}
.box-content__top {
  gap: 4px;
  display: flex;
}
.box-content__top a {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.box-content__top a:first-child {
  background: #07234e;
  border-radius: 10px;
}
.box-content__top a:last-child {
  background: #bb2200;
  border-radius: 10px;
}
.box-content__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 6px 0 8px 0;
}
.box-content__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 0;
  text-decoration: none;
  color: #000000;
}
.box-content__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-content__price-main {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #6b1d14;
}
.box-content__price-sale {
  background: #bbd66a;
  font-weight: 800;
  font-size: 10px;
  text-align: center;
  --size-sale: 30px;
  width: var(--size-sale);
  height: var(--size-sale);
  line-height: var(--size-sale);
  border-radius: var(--size-sale);
  color: #ffffff;
}
.box-content__price del {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #848484;
}
.box-reviews {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.box-reviews__border {
  width: 1px;
  height: 11px;
  background: #000000;
  margin: 0 12px;
}
.box-reviews__star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-reviews__star-list {
  display: flex;
  margin-right: 2.5px;
}
.box-reviews__star span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.box-reviews__cart {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
}
.box-reviews__cart span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.box-progress {
  background: #f5c5a5;
  border-radius: 5px;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  text-align: right;
  position: relative;
  min-height: 16px;
  height: 100%;
  padding: 4px;
  width: 100%;
  margin: 9px 0 6px 0;
}
.box-progress__content {
  padding: 0 7px;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #f06a26;
  border-radius: 5px;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: left;
}
.box-content__gif {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  border: 1px dashed #f06a26;
  color: #f06a26;
  padding: 2px 6px;
}
