@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  font-family: "SF Pro Display", sans-serif !important;
  padding: 12px;
  height: 2550px;
}

.banner {
  display: block;
  width: 100%;
}
@-webkit-keyframes effectOverlay {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes effectOverlay {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#headerSearch-wrapper {
  padding: 14px 0;
}
.header {
  padding-bottom: 20px;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.header .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.header .header-main__bars {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.header .header-main__bars img {
  max-width: 100%;
  display: block;
}
.header .header-logo {
  max-width: 168px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header .header-logo::before {
  content: "";
  position: absolute;
  left: -665px;
  top: -460px;
  width: 220px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  transform: rotate(-45deg);
  -webkit-animation: searchLights 1.5s ease-out 1s infinite;
  animation: searchLights 1.5s ease-out 1s infinite;
}
@-webkit-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 160px;
    top: 0;
  }
}
@keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 160px;
    top: 0;
  }
}
.header .header-logo__image {
  max-width: 100%;
  display: block;
}
.header .header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.header .header-list__item {
  position: relative;
}
.header .header-list__item-count {
  position: absolute;
  top: -11px;
  right: -12px;
  background: #bbd66a;
  --size-count: 24px;
  border-radius: var(--size-count);
  width: var(--size-count);
  height: var(--size-count);
  line-height: var(--size-count);
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
}
.header .header-list__item-phone {
  display: block;
  transform-origin: 50% 4px;
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  animation: ring 4s 0.7s ease-in-out infinite;
}
@-webkit-keyframes ring {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(-28deg);
  }
  15% {
    transform: rotate(34deg);
  }
  20% {
    transform: rotate(-32deg);
  }
  25% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(-28deg);
  }
  35% {
    transform: rotate(26deg);
  }
  40% {
    transform: rotate(-24deg);
  }
  45% {
    transform: rotate(22deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(18deg);
  }
  60% {
    transform: rotate(-16deg);
  }
  65% {
    transform: rotate(14deg);
  }
  70% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  85% {
    transform: rotate(6deg);
  }
  90% {
    transform: rotate(-4deg);
  }
  95% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(-28deg);
  }
  15% {
    transform: rotate(34deg);
  }
  20% {
    transform: rotate(-32deg);
  }
  25% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(-28deg);
  }
  35% {
    transform: rotate(26deg);
  }
  40% {
    transform: rotate(-24deg);
  }
  45% {
    transform: rotate(22deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(18deg);
  }
  60% {
    transform: rotate(-16deg);
  }
  65% {
    transform: rotate(14deg);
  }
  70% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  85% {
    transform: rotate(6deg);
  }
  90% {
    transform: rotate(-4deg);
  }
  95% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
.header .header-list__item img {
  max-width: 25px;
}
.search .search__form {
  display: flex;
  justify-content: space-between;
  background: #ffaeb4;
  border-radius: 15px;
  overflow: hidden;
  height: 34px;
}
.search .search__form input {
  padding: 0 12px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #818181;
  border: none;
  outline: none;
  background: #f7e7ed;
}
.search .search__form button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.search .search__form img {
  padding: 7px 20px;
  height: 100%;
}
.search .search__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  gap: 5px 15px;
}
.search .search__list li {
  line-height: normal;
}
.search .search__list li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #818181;
}

/* cart */
.cart {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100%;
  max-width: 350px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  padding: 15px;
  z-index: 99;
  transition: all 0.24s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.cart.active {
  transform: translateX(0);
  opacity: 1;
}
.cart-triangle {
  position: absolute;
  bottom: 100%;
  right: 10px;
  width: 0;
  height: 0;
  --size-triangle: 12px;
  border-bottom: var(--size-triangle) solid white;
  border-left: var(--size-triangle) solid transparent;
  border-right: var(--size-triangle) solid transparent;
}
.cart-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 12px;
}
.cart-top__total {
  line-height: 19px;
  font-weight: bold;
  font-size: 16px;
}
.cart-top__total span:last-child {
  color: #6b1d14;
}
.cart-top__close {
  width: 16px;
  cursor: pointer;
}
.cart-body {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 12px;
  margin-bottom: 16px;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.cart-body::-webkit-scrollbar {
  width: 2px;
}
.cart-body::-webkit-scrollbar-track {
  background-color: #bababa;
}
.cart-body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.cart-body__item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 17px;
  text-decoration: none;
  color: #000000;
}
.cart-body__item:hover {
  color: #000000;
}
.cart-body__item:hover h1 {
  transition: color 0.24s linear;
  color: #f9386a;
}
.cart-body__item:not(:last-of-type) {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 22px;
}
.cart-body__item-content a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-transform: capitalize;
  margin: 0 0 3px 0;
  text-decoration: none;
}
.cart-body__item-price {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.cart-body__item-price span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
.cart-body__item-price span:nth-child(2) {
  color: #6b1d14;
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}
.cart-bottom {
  padding-top: 15px;
  border-top: 2px solid #ebebeb;
  text-align: center;
  margin-top: auto;
}
.cart-bottom__button {
  max-width: 240px;
  text-decoration: none;
  background: #362962;
  border-radius: 8px;
  padding: 14px;
  max-width: 240px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  transition: opacity 0.24s linear;
}
.cart-bottom__button:hover {
  opacity: 0.8;
  color: white;
}
.cart-bottom__button:focus {
  color: white;
}

/* category */
.category {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 350px;
  width: 100%;
  transform: translateX(-120%);
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  z-index: 99;
  transition: all 0.24s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.category.active {
  transform: translateX(0);
}
.category .category-close {
  position: absolute;
  right: -48px;
  top: 0.5rem;
  cursor: pointer;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);  
  max-width: 28px;
}
.category .category-dropdown {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.category .category-dropdown__icon {
  margin-left: auto;
  transition: transform 0.24s linear;
}
.category .category-dropdown__icon.rotate {
  transform: rotate(180deg);
}
.category .category-content {
  height: 60%;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  padding: 0 16px 16px 16px;
  display: none;
  -webkit-animation: effectCategory 0.24s linear;
          animation: effectCategory 0.24s linear;
}
@-webkit-keyframes effectCategory {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes effectCategory {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.category .category-content::-webkit-scrollbar {
  width: 2px;
}
.category .category-content::-webkit-scrollbar-track {
  background-color: #bababa;
}
.category .category-content::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.category .category-dropdown:not(:last-child) {
  margin-bottom: 16px;
}
.category .category-content.show {
  display: block;
}
.category .category-content h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
@media only screen and (max-width: 400px) {
  .category {
    max-width: 280px;
  }
  .category .category-dropdown{
    font-size: 14px;
  }
  .category .category-close {
    right: -34px;
  }
}
@media only screen and (max-width: 375px) {
  .header .header-main {
    gap: 5px;
  }
  .header .header-container {
    gap: 5px;
  }
  .header .header-list {
    gap: 10px;
  }
  .header .header-list__item img {
    max-width: 22px;
  }
}
@media only screen and (max-width: 320px) {
  .header .header-logo img {
    max-width: 90%;
  }
}
