@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
body {
  font-family: "SF Pro Display", sans-serif !important;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-weight: 500;
}
@-webkit-keyframes effectOverlay {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes effectOverlay {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.filter h1 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
}
.filter .filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  line-height: 19px;
}
.filter #open-sidebar {
  cursor: pointer;
}
.sidebar {
  max-width: 340px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(calc(100% + 40px));
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.24s linear;
  z-index: 999;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sidebar.show {
  transform: translateX(0);
}
.sidebar h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
  color: #000000;
}
.sidebar .sidebar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sidebar #close-sidebar {
  position: absolute;
  right: 100%;
  top: 0;
  cursor: pointer;
  background-color: #e26b14;
  padding: 2px;
}
.sidebar #close-sidebar img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.sidebar h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar__button {
  padding: 12px 20px;
  background: #e26b14;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  margin-top: auto;
  border-radius: 5px;
  transition: opacity 0.24s linear;
}
.sidebar .sidebar__button:hover {
  opacity: 0.8;
}
.dropdown {
  padding-top: 14px;
  border-top: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  cursor: pointer;
  margin-bottom: 16px;
}
.dropdown h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown img {
  transition: all 0.24s ease-in-out;
}
.dropdown img.active {
  transform: rotate(180deg);
}
.dropdown-wrapper {
  max-height: 100%;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  padding: 20px;
}
.dropdown-wrapper::-webkit-scrollbar {
  width: 8px;
}
.dropdown-wrapper::-webkit-scrollbar-track {
  background: #c7c7c7;
}
.dropdown-wrapper::-webkit-scrollbar-thumb {
  background-color: #e26b14;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  -webkit-animation: effectContent 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: effectContent 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.dropdown-content:not(:last-child) {
  margin-bottom: 20px;
}
.dropdown-content::-webkit-scrollbar {
  width: 2px;
}
.dropdown-content::-webkit-scrollbar-track {
  background-color: #c7c7c7;
}
.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #3f3f3e;
}
@-webkit-keyframes effectContent {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes effectContent {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-content__item label,
input {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.dropdown-content__item input {
  margin-right: 10px;
  transform: scale(1.2);
}
.dropdown-content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  gap: 25px;
  position: relative;
}
.dropdown-content__price span {
  height: 1px;
  width: 11px;
  background-color: #d9d9d9;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.dropdown-content__price input {
  width: 50%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 15px;
  color: #000000;
  height: 100%;
  text-align: center;
  outline: none;
}
.dropdown-content__price input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.dropdown-content__price input[type="number"]::-webkit-inner-spin-button,
.dropdown-content__price input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 374px) {
  .filter h1 {
    font-size: 15px;
  }
  .dropdown-wrapper {
    padding: 12px;
  }
  .sidebar {
    max-width: 265px;
  }
}
